config SHIELD_GAUSS
    def_bool $(shields_list_contains,GAUSS)

config SYSTEM_WORKQUEUE_STACK_SIZE
	int "work queue stack size"
  default 4096

config CONFIG_MAIN_STACK_SIZE
	int "main stack size"
  default 2048