#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&left_encoder { status = "okay"; };

#define DEFAULT 0

/ {
        keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC  &kp KP_NUMLOCK  &kp SLASH  &kp STAR    &kp MINUS
&kp F19  &kp N7          &kp N8     &kp N9      &kp PLUS
&kp F20  &kp N4          &kp N5     &kp N6
&kp F21  &kp N1          &kp N2     &kp N3      &kp EQUAL
&kp F22  &kp N0          &kp N0     &kp PERIOD
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
