#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&left_encoder { status = "okay"; };

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp C_MUTE  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp C_PREV
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
